/*
* {
    border: 1px solid red;
}
*/

body {
    font-family: "Roboto", Verdana, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

button {
    border-radius: 12px;
    height: 50px;
    width: 160px;
    background-color: #3882f6;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #c5c5c5;
}

.content {
    margin: auto;
    width: 1300px;
}

.hero-container,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.header .logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 100px 0;
}

.hero .left {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding: 8px;
    max-width: 530px;
}

.hero .title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 12px;
}

.hero .text {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 24px;
}

.hero img {
    height: 300px;
    width: 600px;
    background-color: grey;
    flex: 0 0 auto;
}

.section-two .title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin: 60px 0;
}

.section-two .container {
    display: flex;
    justify-content: space-between;
    margin: 0 160px;
    margin-bottom: 160px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    flex: 0 0 auto;
    gap: 10px;
}

.info img {
    border: 4px solid #3882f6;
    border-radius: 20px;
    height: 200px;
    width: 200px;
}

.section-three {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    margin: 160px;
}

.author {
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    text-align: end;
}

.section-four {
    color: #f9faf8;
}

.section-four .container {
    border-radius: 20px;
    background-color: #3882f6;
    margin: 40px 0;
    padding: 80px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-four .title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 8px;
}

.section-four .text {
    font-size: 16px;
    font-weight: 300;
}

.section-four button {
    border: 3px solid #f9faf8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    color: #f9faf8;
}